<div class="navbar">
    <a  routerLinkActive="active" routerLink="/adminDestinations">Destinations</a>
    <a  routerLinkActive="active" routerLink="/adminSites">Sites</a>
    <a  routerLinkActive="active" routerLink="/adminHotels">Hotels</a>
    <a  routerLinkActive="active" routerLink="/adminTransportations">Transportations</a>
  </div>
  
  <div id="main">
    <h1> Welcome to Admin Page !!!!</h1>
    <h2>You can edit, add, and delete data from your database in this admin page...!!!!!</h2>
  </div>
